In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Creating a dataframe from the reference table

In [9]:
link = 'https://en.wikipedia.org/wiki/List_of_cities_and_municipalities_in_the_Philippines'
df_data = pd.read_html(link)

## Filtering the relevant columns

In [10]:
df_raw = df_data[2]
df_raw.head()

,City or municipality,Population (2020)[1],Area (km2)[a],PD (2020),Brgy.,Class,Province,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Bangued*,50382,105.70,476.65,31,Mun,Abra,NaN,NaN,NaN
1,Boliney,4551,216.92,20.98,8,Mun,Abra,NaN,NaN,NaN
2,Bucay,17953,102.16,175.73,21,Mun,Abra,NaN,NaN,NaN
3,Bucloc,2395,63.77,37.56,4,Mun,Abra,NaN,NaN,NaN
4,Daguioman,2019,114.37,17.65,4,Mun,Abra,NaN,NaN,NaN

In [13]:
col_data = ["Province", "Class", "City or municipality"]
df_prov = df_raw[col_data]
df_prov.head()

  Province Class City or municipality
0     Abra   Mun             Bangued*
1     Abra   Mun              Boliney
2     Abra   Mun                Bucay
3     Abra   Mun               Bucloc
4     Abra   Mun            Daguioman

### Cleaning the entries for the municipalities

In [16]:
df_prov['City or municipality'] = df_prov['City or municipality'].str.replace('*', '') # removes the * in the entries under municipalities
df_prov.head()

C:\Users\Biel Lava\AppData\Local\Temp\ipykernel_20876\3749907345.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_prov['City or municipality'] = df_prov['City or municipality'].str.replace('*', '') # removes the * in the entries under municipalities
C:\Users\Biel Lava\AppData\Local\Temp\ipykernel_20876\3749907345.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prov['City or municipality'] = df_prov['City or municipality'].str.replace('*', '') # removes the * in the entries under municipalities

  Province Class City or municipality
0     Abra   Mun              Bangued
1     Abra   Mun              Boliney
2     Abra   Mun                Bucay
3     Abra   Mun               Bucloc
4     Abra   Mun            Daguioman

In [18]:
df_prov.shape

(1635, 3)

## Creating a CSV for the municipalities and cities list

In [ ]:
df_prov.to_csv('D:\Documents\Operation UPSKILL\Side Projects\Terrorism Project\prov1.csv')