In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
# Useful columns

imp_col = ['iyear', 'imonth', 'iday', 'country_txt', 'region_txt', 'provstate', 'city', 'attacktype1_txt', 'targtype1_txt', 'nkill', 'nwound', 'summary', 'motive',]

In [3]:
# Creating the dataframe with the selected columns only
df = pd.read_csv("D:\Documents\Operation UPSKILL\Side Projects\Datasets\global_terror.csv", encoding = 'ISO-8859-1')
df = df[imp_col]
df.head()

C:\Users\Biel Lava\AppData\Local\Temp\ipykernel_8792\4226329721.py:2: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("D:\Documents\Operation UPSKILL\Side Projects\Datasets\global_terror.csv", encoding = 'ISO-8859-1')

,iyear,imonth,iday,country_txt,region_txt,provstate,city,attacktype1_txt,targtype1_txt,nkill,nwound,summary,motive
0,1970,7,2,Dominican Republic,Central America & Caribbean,NaN,Santo Domingo,Assassination,Private Citizens & Property,1.0,0.0,NaN,NaN
1,1970,0,0,Mexico,North America,Federal,Mexico city,Hostage Taking (Kidnapping),Government (Diplomatic),0.0,0.0,NaN,NaN
2,1970,1,0,Philippines,Southeast Asia,Tarlac,Unknown,Assassination,Journalists & Media,1.0,0.0,NaN,NaN
3,1970,1,0,Greece,Western Europe,Attica,Athens,Bombing/Explosion,Government (Diplomatic),NaN,NaN,NaN,NaN
4,1970,1,0,Japan,East Asia,Fukouka,Fukouka,Facility/Infrastructure Attack,Government (Diplomatic),NaN,NaN,NaN,NaN

In [4]:
# creating a separate csv for philippine data
'''
path = 'D:\Documents\Operation UPSKILL\Side Projects\Datasets'

phil_terror = df.loc[df['country_txt'] == 'Philippines', :]
phil_terror.to_csv('D:\Documents\Operation UPSKILL\Side Projects\Datasets\phil_terror.csv')
'''

"\npath = 'D:\\Documents\\Operation UPSKILL\\Side Projects\\Datasets'\n\nphil_terror = df.loc[df['country_txt'] == 'Philippines', :]\nphil_terror.to_csv('D:\\Documents\\Operation UPSKILL\\Side Projects\\Datasets\\phil_terror.csv')\n"

In [5]:
# using the phil_terror data for the df

df = pd.read_csv('D:\Documents\Operation UPSKILL\Side Projects\Datasets\phil_terror.csv')

In [6]:
# determining the number of rows and columns
print(f'Rows: {df.shape[0]}')
print(f'Columns: {df.shape[1]}')

Rows: 6908
Columns: 14

In [7]:
# Checking for names of the columns for this database
df.columns.to_list()

['Unnamed: 0',
 'iyear',
 'imonth',
 'iday',
 'country_txt',
 'region_txt',
 'provstate',
 'city',
 'attacktype1_txt',
 'targtype1_txt',
 'nkill',
 'nwound',
 'summary',
 'motive']

In [8]:
# determining if there are null values in the columns 
for col in df.columns.to_list():
    print(f'{col}: {df[col].isna().sum()}')

Unnamed: 0: 0
iyear: 0
imonth: 0
iday: 0
country_txt: 0
region_txt: 0
provstate: 0
city: 0
attacktype1_txt: 0
targtype1_txt: 0
nkill: 214
nwound: 303
summary: 1938
motive: 4554

In [9]:
# checking all the column if a column contains a null 
print(df.isnull().any())

Unnamed: 0         False
iyear              False
imonth             False
iday               False
country_txt        False
region_txt         False
provstate          False
city               False
attacktype1_txt    False
targtype1_txt      False
nkill               True
nwound              True
summary             True
motive              True
dtype: bool

In [10]:
# Determining the number of entries for the Philippines
len(df[df['country_txt'] == 'Philippines'])

6908

In [11]:
# getting the years where attack in the philipines occured

df.loc[df['country_txt'] == 'Philippines', 'iyear'].nunique()

46

## Analyzing the relevant columns for the attack background

In [12]:
# getting the number of nulls per column
attack_bg = ['iyear', 'provstate', 'city', 'attacktype1_txt', 'targtype1_txt', 'summary', 'motive']

for col in attack_bg: 
    print(f'{col}: {df.loc[df["country_txt"] == "Philippines", col].isna().sum()}')

iyear: 0
provstate: 0
city: 0
attacktype1_txt: 0
targtype1_txt: 0
summary: 1938
motive: 4554

In [13]:
# determining the unique values in the relevant columns
# getting the number of nulls per column
attack_bg = ['iyear', 'provstate', 'city', 'attacktype1_txt', 'targtype1_txt', 'summary', 'motive']

for col in attack_bg: 
    print(f'{col}: {df.loc[df["country_txt"] == "Philippines", col].isna().sum()}')

iyear: 0
provstate: 0
city: 0
attacktype1_txt: 0
targtype1_txt: 0
summary: 1938
motive: 4554

In [14]:
# getting the count of each unique value in the year column

df.loc[df["country_txt"] == "Philippines", 'iyear'].value_counts()

2015    721
2017    692
2013    651
2016    632
2014    597
1990    320
2008    276
2012    249
2009    229
1988    210
2010    205
1991    162
1992    162
1987    160
1989    156
2011    151
2000    132
1985    124
2003    107
1986     80
1994     72
2007     65
1995     63
1996     61
1980     60
2006     58
1997     57
1979     50
2001     50
2002     48
1984     43
1982     38
1978     36
2004     32
1981     31
1999     31
2005     25
1998     18
1983     16
1976     10
1970     10
1972      7
1975      4
1971      4
1977      2
1974      1
Name: iyear, dtype: int64

### Processing the entries for Country columns

In [15]:
# getting the count of each unique value in the provstate column
#df.loc[df["country_txt"] == "Philippines", 'provstate'].value_counts() 
df.loc[df["country_txt"] == "Philippines", 'provstate'].drop_duplicates().sort_values()

216                     Abra
316          Aguasan Del Sur
340         Agusan del Norte
1547          Agusan del Sur
917                    Aklan
616                    Albay
1190                 Antique
344                   Apayao
1462                  Aurora
25                   Basilan
352                   Bataan
613                 Batangas
159                  Benguet
2383                   Bicol
726                  Biliran
873                    Bohol
250                 Bukidnon
430                  Bulacan
348                  Cagayan
910          Camarines Norte
275            Camarines Sur
457                 Camiguin
7                      Capiz
2196             Catanduanes
179                   Cavite
311                     Cebu
1987       Compostela Valley
305                    Davao
2529           Davao Del Sur
4419        Davao Occidental
66            Davao Oriental
3350            Davao Region
69           Davao del Norte
30             Davao del Sur
210            Eastern Samar
593                 Guimaras
26                    Ifugao
2991                  Iligan
328             Ilocos Norte
574               Ilocos Sur
413                   Iloilo
16                   Isabela
68                   Kalinga
417           Kalinga Apayao
2574          Kalinga-Apayao
2871                La Union
826                   Laguna
84           Lanao del Norte
51             Lanao del Sur
442                    Leyte
2158                   Lupon
40               Maguindanao
909                  Masbate
1        Metropolitan Manila
3       Metropolitian Manila
3297         Mindanao Island
130       Misamis Occidental
29          Misamis Oriental
756        Mountain Province
276        Negros Occidental
458          Negros Oriental
2444          North Catobato
64            North Cotabato
114           Northern Samar
70               Nueva Ecija
436            Nueva Vizcaya
729       Occidental Mindoro
456         Oriental Mindoro
1159                 Palawan
4                   Pampanga
708               Pangasinan
561                   Quezon
3344         Quezon Province
6378                 Quirino
1453                   Rizal
3261                 Romblon
174                    Samar
1549               Sarangani
4872                Siquijor
796                 Sorsogon
183           South Cotabato
735           Southern Leyte
73            Sultan Kudarat
2461          Sultan Kudurat
48                      Sulu
964        Surigao del Norte
299          Surigao del Sur
0                     Tarlac
86                 Tawi Tawi
3377               Tawi-Tawi
6                    Unknown
21                  Zambales
415        Zamboanga Sibugay
103      Zamboanga del Norte
23         Zamboanga del Sur
Name: provstate, dtype: object

In [16]:
# creation of a reference list of provinces in the philippines
link = 'https://en.wikipedia.org/wiki/Provinces_of_the_Philippines'
trial = pd.read_html(link)
trial[3].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 13 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   (ISO[4], Unnamed: 0_level_1)        85 non-null     object
 1   (Province, Unnamed: 1_level_1)      85 non-null     object
 2   (Capital, Unnamed: 2_level_1)       85 non-null     object
 3   (Population[5], %)                  2 non-null      object
 4   (Population[5], (2020))             85 non-null     object
 5   (Area[6], Unnamed: 5_level_1)       85 non-null     object
 6   (Density, Unnamed: 6_level_1)       85 non-null     object
 7   (Founded[A], Unnamed: 7_level_1)    85 non-null     object
 8   (Island group, Unnamed: 8_level_1)  85 non-null     object
 9   (Region, Unnamed: 9_level_1)        85 non-null     object
 10  (Total LGUs, Mun.)                  85 non-null     object
 11  (Total LGUs, City)                  85 non-null     object
 12  (Total LGUs, Brgy.)                 85 non-null     object
dtypes: object(13)
memory usage: 8.8+ KB

In [23]:
# creation of a csv for reference list of provinces in the philippines
link = 'https://en.wikipedia.org/wiki/Provinces_of_the_Philippines'
trial = pd.read_html(link) # will create a dataframe from the link
df_prov = trial[3].iloc[0:83, 0:2] # will create a new data frame from the third table (table nung provinces) and slice the row and column
df_prov.to_csv('D:\Documents\Operation UPSKILL\Side Projects\Terrorism Project\prov1.csv')

In [29]:
# cleaning and updating province csv
df = pd.read_csv('D:\Documents\Operation UPSKILL\Side Projects\Terrorism Project\prov1.csv')
df.drop('Unnamed: 0', axis=1, inplace= True) # removing unwanted column

In [32]:
# removing extra row (nadamay dun sa mahabang pangalan nung column)
df.drop(0, axis=0, inplace= True)

In [34]:
# renaming columns
df.rename(columns={'ISO[4]':'ISO'}, inplace= True)

In [ ]:
# cleaning the province column removing the footnote eme
df['Province'] = df['Province'].map(lambda x: x.rstrip('[]]xiv'))

In [41]:
# creating a final reference csv for the provinces
df.to_csv('D:\Documents\Operation UPSKILL\Side Projects\Terrorism Project\province.csv')