In [6]:
import pandas as pd

In [44]:
# Useful columns

imp_col = ['iyear', 'imonth', 'iday', 'country_txt', 'region_txt', 'provstate', 'city', 'attacktype1_txt', 'targtype1_txt', 'nkill', 'nwound', 'summary', 'motive',]

In [45]:
# Creating the dataframe using the full csv file
#df = pd.read_csv("D:\Documents\Operation UPSKILL\Side Projects\Datasets\global_terror.csv", encoding = 'ISO-8859-1', names=['iyear', 'imonth', 'iday', 'country_txt', 'region_txt', 'provstate', 'city', 'attacktype1_txt', 'targtype1_txt', 'nkill', 'nwound', 'summary', 'motive'], header= 0)

# Creating the dataframe with the selected columns only
df = pd.read_csv("D:\Documents\Operation UPSKILL\Side Projects\Datasets\global_terror.csv", encoding = 'ISO-8859-1')
df = df[imp_col]
df.head()

C:\Users\Biel Lava\AppData\Local\Temp\ipykernel_25232\476634133.py:5: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("D:\Documents\Operation UPSKILL\Side Projects\Datasets\global_terror.csv", encoding = 'ISO-8859-1')

,iyear,imonth,iday,country_txt,region_txt,provstate,city,attacktype1_txt,targtype1_txt,nkill,nwound,summary,motive
0,1970,7,2,Dominican Republic,Central America & Caribbean,NaN,Santo Domingo,Assassination,Private Citizens & Property,1.0,0.0,NaN,NaN
1,1970,0,0,Mexico,North America,Federal,Mexico city,Hostage Taking (Kidnapping),Government (Diplomatic),0.0,0.0,NaN,NaN
2,1970,1,0,Philippines,Southeast Asia,Tarlac,Unknown,Assassination,Journalists & Media,1.0,0.0,NaN,NaN
3,1970,1,0,Greece,Western Europe,Attica,Athens,Bombing/Explosion,Government (Diplomatic),NaN,NaN,NaN,NaN
4,1970,1,0,Japan,East Asia,Fukouka,Fukouka,Facility/Infrastructure Attack,Government (Diplomatic),NaN,NaN,NaN,NaN

In [46]:
# Checking for names of the columns for this database
df.columns.to_list()

['iyear',
 'imonth',
 'iday',
 'country_txt',
 'region_txt',
 'provstate',
 'city',
 'attacktype1_txt',
 'targtype1_txt',
 'nkill',
 'nwound',
 'summary',
 'motive']

In [47]:
# Determining the number of entries for the Philippines
len(df[df['country_txt'] == 'Philippines'])

6908

In [48]:
# getting the years where attack in the philipines occured

df.loc[df['country_txt'] == 'Philippines', 'iyear'].nunique()

46